.flex-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 30px;

    & h1 {
        font-size: 4rem;
        margin-bottom: 0;
        margin-top: 0;
    }
}

.pfp {
    max-width: 160px;
    width: 35%;
    border-radius: 100px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.horiz-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;

    & a {
        background-color: var(--color-bg-secondary);
        color: var(--color-main);
        padding: 10px;
        text-decoration: none;
        transition: 0.1s;

        &:focus,
        &:hover {
            background-color: var(--color-accent);
            color: var(--color-navbar-main);
        }

        &:active {
            background-color: var(--color-main);
        }
    }
}

.proj-showcase {
    display: block;
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 0.3s;

    background-size: 100%;
    background-color: #00000088;
    background-blend-mode: multiply;
    background-position-y: 50%;
    background-position-x: 50%;

    text-decoration: none;

    & .proj-title {
        font-weight: bold;
        font-size: 2em;
        color: var(--color-navbar-main);
        transition: 0.1s;
    }
    
    & .proj-subtitle {
        font-size: 1.2em;
        color: var(--color-navbar-main);
    }

    &:hover {
        background-color: #000000bb;
        background-size: 110%;

        & .proj-title {
            color: var(--color-accent);
        }
    }
}

.goober-game {
    background-image: url("../media/goober_game/icon.png");
}

.adumbration {
    background-image: url("../media/adumbration/gameplay.gif");
}