@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url("https://www.nerdfonts.com/assets/css/webfont.css");

/* variables :D */
:root {
    --color-main: #e1e5f2;
    --color-main-secondary: #a7aecc;
    --color-main-tertiary: #353a4d;
    --color-accent: #f21b54;
    --color-accent-secondary: #a60731;
    --color-bg: #05070d;
    --color-bg-secondary: #181a26;

    --color-navbar-bg: #181a26;
    --color-navbar-main: #e1e5f2;

    --scroll-duration: 60s;
    --scroll-item-width: 100px;
}

/* #region general tag theming */

* {
    font-family: "DM Sans";
}

h1,
h2,
h3 {
    font-family: "Roboto Mono";
    clear: both;
}

html {
    background-color: var(--color-bg);
}

body {
    margin: 0;
    color: var(--color-main-secondary);
}

main {
    background-image: url(../media/bg_dark.png);
    background-size: 400px;
    padding-bottom: 50px;

    min-height: 68vh;
}

h1 {
    color: var(--color-accent);
    font-weight: bold;
    font-size: 1.8rem;
}

h2 {
    color: var(--color-accent);
}

h3 {
    color: var(--color-main);
}

img {
    max-width: 500px;
}

a {
    &:link {
        color: var(--color-accent);
    }

    &:visited {
        color: var(--color-accent-secondary);
    }

    &:focus,
    &:hover {
        color: var(--color-main-secondary);
    }

    &:active {
        color: var(--color-main-tertiary);
    }
}

/* #endregion */

/* #region main content things */

.center-content {
    background-color: var(--color-bg);
    width: 80%;
    max-width: 50rem;
    margin: 0 auto;
    padding: 5px 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.img-wrap {
    width: 30%;
    min-width: 150px;
    margin: 10px;
}

.img-crop {
    object-fit: cover;
    object-position: 50% 50%;
}

.img-float-right {
    float: right;
}

.img-float-left {
    float: left;
}

.accent-border {
    border: 4px solid var(--color-accent);
}

.path-indicator {
    font-size: 0.9rem;
    padding: 10px;

    & a {
        text-decoration: none;

        &:visited,
        &:link {
            color: var(--color-accent);
        }

        &:active,
        &:focus,
        &:hover {
            color: var(--color-accent-secondary);
        }
    }
}

.img-showcase {
    display: flex;
    overflow-x: auto;
    height: 300px;

    & img {
        max-width: 100%;
        max-height: 100%;
    }
}

.click-zoomable {
    cursor: pointer;
    transition: filter 0.2s;

    &:hover {
        filter: brightness(80%);
    }
}

.zoom {
    transition: all 0.2s, transform 0s;

    position: fixed;
    object-fit: contain;
    left: 50%;
    top: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}

.zoom-bg {
    transition: all 1s;

    display: none;
    margin: 0;
    padding: 0;

    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;

    &.enabled {
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}

/* #endregion */

/* #region footer */

footer {
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.05);
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px 30px;

    width: 80%;
    max-width: 700px;
    margin: 0 auto;

    & .links {
        display: flex;
        align-items: center;
        justify-content: start;

        & * {
            padding: 0.3em;
        }
    }
}

/* #endregion */

/* #region navbar */

.navbar {
    background-color: var(--color-navbar-bg);

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;
    padding: 0px 20px;

    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.bar-container {
    align-items: center;
    display: flex;
    margin: 0px 5px;

}

.bar-title {
    margin-right: 20px;
}

.bar-title a {
    text-decoration: none;
    transition: 0.1s;

    &:link,
    &:visited {
        color: var(--color-accent);
    }

    &:focus,
    &:hover {
        color: var(--color-accent-secondary);
    }

    &:active {
        color: var(--color-accent-secondary);
    }
}

.bar-link {
    color: var(--color-navbar-main);
    font-size: 1.3em;
    text-decoration: none;
    cursor: pointer;
    transition: 0.1s;

    padding-top: 3px;
    margin: 0 20px;

    cursor: pointer;

    &:link,
    &:visited {
        color: var(--color-navbar-main);
    }

    &:focus,
    &:hover {
        color: var(--color-accent);
    }

    &:active {
        color: var(--color-accent-secondary);
    }
}

.dropdown {
    &:hover {
        & .bar-link {
            color: var(--color-accent);
        }

        & .dropdown-content {
            display: block;
        }
    }

    & .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--color-navbar-bg);
        z-index: 2;

        & a {
            color: var(--color-navbar-main);
            text-decoration: none;
            display: block;

            font-size: 1.1rem;
            text-align: center;
            padding: 2px 10px;

            &:hover {
                background-color: var(--color-accent);
            }
        }
    }
}

.menu-opener {
    display: none;
    position: absolute;
    top: 20px;
    left: 0;
}

/* #endregion */

/* #region image scrolling */

.horiz-scroller {
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 0;
    position: relative;

    & > * {
        position: relative;
        top: 0%;
        left: 0px;
        animation: scroll-item var(--scroll-duration) linear infinite;
        margin: 0;
        padding: 0;
    }
}

.watchfaces-scroller > * {
    width: 100px;
    animation: scroll-watchfaces var(--scroll-duration) linear infinite;
}

@keyframes scroll-watchfaces {
    from {
        left: 0px;
    }

    to {
        left: -1500px;
    }
}

/* #endregion */

/* #region responsiveness/media queries */

@media screen and (max-width: 700px) {
    .bar-link {
        font-size: 1.1rem;
    }

    .bar-title {
        font-size: 1.4rem;
    }

    .bar-title {
        margin-right: 0;
    }
}

/* mobile view, creates the main nav dropdown */
@media screen and (max-width: 570px) {
    .center-content {
        width: 100%;
        padding: 0px;
        box-shadow: none;
    }

    main {
        padding: 0px 10px;
        background-image: none;
        background: var(--color-bg);
    }

    .footer-links {
        width: 100%;
        padding: 0;
    }

    footer {
        padding: 0px 20px;
    }

    .bar-title {
        font-size: 1.5rem;
    }

    .bar-link {
        display: none;
    }

    .menu-opener {
        display: inline;
    }

    .navbar {
        flex-direction: column;
    }

    .bar-container {
        flex-direction: column;
    }
}

/* #endregion */