@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url("https://www.nerdfonts.com/assets/css/webfont.css");

/* variables :D */
:root {
    --color-main: #e1e5f2;
    --color-main-secondary: #a7aecc;
    --color-main-tertiary: #353a4d;
    --color-accent: #f21b54;
    --color-accent-secondary: #a60731;
    --color-bg: #05070d;
    --color-bg-secondary: #181a26;

    --color-navbar-bg: #181a26;
    --color-navbar-main: #e1e5f2;

    --scroll-duration: 60s;
    --scroll-item-width: 100px;
}

/* fonts! */

* {
    font-family: "DM Sans";
}

h1,
h2,
h3 {
    font-family: "Roboto Mono";
    clear: both;
}

/* #region general tag theming */

html {
    background-color: var(--color-bg);
}

body {
    margin: 0;
    color: var(--color-main-secondary);
}

main {
    background-image: url(../media/bg_dark.png);
    background-size: 400px;
    padding-bottom: 50px;
}

h1 {
    color: var(--color-accent);
    font-weight: bold;
}

h2 {
    color: var(--color-accent);
}

h3 {
    color: var(--color-main);
}

img {
    max-width: 500px;
}

a {
    &:link {
        color: var(--color-accent);
    }

    &:visited {
        color: var(--color-accent-secondary);
    }

    &:focus,
    &:hover {
        color: var(--color-main-secondary);
    }

    &:active {
        color: var(--color-main-tertiary);
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 20px;
    background-color: var(--color-bg);
    height: 100%;

    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.05);
}

/* #endregion */

/* #region class theming */

.center-content {
    background-color: var(--color-bg);
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 5px 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.navbar {
    background-color: var(--color-navbar-bg);

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;
    padding: 0px 20px;

    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.bar-container {
    align-items: center;
    display: flex;
    margin: 0px 5px;

    & h1 {
        margin-right: 20px;
    }
}

.bar-link {
    color: var(--color-navbar-main);
    font-size: 1.3em;
    text-decoration: none;
    cursor: pointer;

    padding-top: 3px;
    margin: 0 20px;

    cursor: pointer;

    &:link,
    &:visited {
        color: var(--color-navbar-main);
    }

    &:focus,
    &:hover {
        color: var(--color-accent);
    }

    &:active {
        color: var(--color-accent-secondary);
    }
}

.bar-title a {
    text-decoration: none;

    &:link,
    &:visited {
        color: var(--color-accent);
    }

    &:focus,
    &:hover {
        color: var(--color-navbar-main);
    }

    &:active {
        color: var(--color-accent-secondary);
    }
}

.dropdown {
    & .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--color-navbar-bg);
        z-index: 2;

        & a {
            color: white;
            text-decoration: none;
            display: block;
        }
    }

    &:hover .dropdown-content {
        display: block;
    }
}

.float {
    width: 180px;
    height: 140px;

    object-fit: cover;
    object-position: 50% 100%;

    &.right {
        float: right;
    }

    &.left {
        float: left;
    }
}

.fliph {
    transform: scaleX(-1);
}

.grid-collage {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);

    & img {
        width: 100%;
    }

    & .house-build {
        grid-column: 1 / span 2;
        grid-row: 2;
        margin: 0 auto;
        object-fit: cover;
    }
}

.horiz-scroller {
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 0;
    position: relative;

    & > * {
        position: relative;
        top: 0%;
        left: 0px;
        animation: scroll-item var(--scroll-duration) linear infinite;
        margin: 0;
        padding: 0;
    }
}

.watchfaces-scroller > * {
    width: 100px;
    animation: scroll-watchfaces var(--scroll-duration) linear infinite;
}

@keyframes scroll-watchfaces {
    from {
        left: 0px;
    }

    to {
        left: -1500px;
    }
}

@keyframes scroll-adumbration {
    from {
        left: 0px;
    }

    to {
        left: -1130px;
    }
}

/* #endregion */